#thread-tabs {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-bottom: 26px;
	justify-content: flex-start;
}

.thread-tab {
	width: auto;
  flex: 0 1 auto;
	padding: 8px 10px;
	border-radius: 6px;
	background: color-mix(in srgb, var(--vscode-sideBar-background) 95%, white);
	color: var(--vscode-sideBar-foreground);
	cursor: pointer;
	font-size: 0.80em;
	transition: background 0.2s;
}

.thread-tab:hover {
	background: var(--vscode-list-hoverBackground);
}

.thread-tab[style*="font-weight: bold"] {
	background: color-mix(in srgb, var(--vscode-list-activeSelectionBackground) 95%, white);
	color: var(--vscode-list-activeSelectionForeground);
}
body, html {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: var(--vscode-font-family);
	font-weight: var(--vscode-font-weight);
	font-size: var(--vscode-font-size);
	color: var(--vscode-editor-foreground);
	background-color: var(--vscode-editor-background);
}

.chat-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding: 10px;
	box-sizing: border-box;
}

.chat-messages {
	flex-grow: 1;
	overflow-y: auto;
	padding-bottom: 10px;
}

.message {
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
	max-width: 80%;
	word-wrap: break-word;
}

.message.user {
	background-color: var(--vscode-list-activeSelectionBackground);
	color: var(--vscode-list-activeSelectionForeground);
	align-self: flex-end;
	margin-left: auto;
}

.message.bot {
	background-color: var(--vscode-list-inactiveSelectionBackground);
	color: var(--vscode-list-inactiveSelectionForeground);
	align-self: flex-start;
	margin-right: auto;
}

.chat-input-container {
	display: flex;
	align-items: center;
}

.chat-input-wrapper {
	position: relative;
	width: 100%;
}

#send-icon {
	color: var(--vscode-icon-foreground);
	position: absolute;
	right: 16px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 2;
}

#send-icon img {
	
	width: 18px;
	height: 18px;
}

.chat-input {
	flex-grow: 1;
	resize: none;
	border-radius: 3px;
	border: 1px solid var(--vscode-input-border);
	background-color: var(--vscode-input-background);
	color: var(--vscode-input-foreground);
	padding: 5px;
	padding-right: 32px;
	width: 100%;
	min-width: 0;
	box-sizing: border-box;
	line-height: 1.8;
}
